# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
media/
staticfiles/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.venv/
venv/
ENV/

# Models
savedModels/

# Uploads
organs/uploads/

# Misc
*.bak
*.swp
*.tmp

# Node
node_modules/

# Ignore local settings
local_settings.py
db.sqlite3
